.App {
  text-align: center;
  margin-top: 50px;
}

ul {
  padding: 0;
  margin: 20px;
  list-style: none;
  columns: 300px 2;
  text-align: left;
}

li {
  margin: 0;
  padding: 5px;
}

input {
  padding: 5px 10px;
}